.Contact {
    padding: 1rem;
}

.Contact .ContactInfo {
    display: flex;
    justify-content: center;
}

.Contact .ContactInfo .Form {
    background-color: rgb(228, 228, 228);
    padding: 2rem;
    border-radius: 10px;
}

.Contact .ContactInfo .Form form {
    display: flex;
    flex-direction: column;
}

.Contact .ContactInfo .Form form span {
    color: rgb(219, 83, 83);
}

.Contact .ContactInfo .Form form input {
    margin: 10px 3px;
    border: 1px solid grey;
    border-radius: 5px;
    height: 2rem;
    padding-left: 5px;
}

.Contact .ContactInfo .Form form textarea {
    margin: .7rem 0
}