.Addproducts {
    flex: 4;
    width: 100%;
    margin-left: 18%;
}

.Addproducts .Form {
    width: 30rem;
    margin: auto;
    
}

.Addproducts .Form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding: 20px;
}

.Addproducts .Form form input {
    margin: 10px 0;
}

.Addproducts .Form form select {
    margin: 10px 0;
}