.Editproduct {
    flex: 4;
    position: relative;
    margin-left: 18%;
}

.Editproduct .Product {
    display: flex;
    justify-content: space-evenly;
}

.Editproduct .Product .Form {
    padding: 5px;
}

.Editproduct .Product .Form form {
    display: flex;
    flex-direction: column;
}

.Editproduct .Product .Form form input {
    margin: 10px 0;
    border: 1px solid grey;
    padding: 10px;
    border-radius: 10px;
}

.Editproduct .EditImage {
    width: 20rem;
    height: 20rem;
}

.Editproduct .EditImage img {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    object-fit: cover;
}