.Toolbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Toolbar .Link {
    color: grey;
    font-size: 1.1rem;
    text-decoration: none;
    padding: 5px;
    margin: 0 .5rem;
}

.Toolbar .Link:hover {
    color: rgb(212, 212, 212);
}

@media screen and (max-width: 480px) {
    
    .Toolbar .Link {
        display: none;
    }
}